.contacto-container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contacto-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .contacto-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
  }
  
  .contact-form div {
    margin-bottom: 15px;
    width: 100%;
    gap: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #45a049;
  }
  
  .success-message {
    margin-top: 20px;
    color: green;
    font-size: 1.2rem;
  }
  